{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><a href="{% url 'warehouse_create' %}" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Create a new Warehouse</a></h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 300px;">
          <table class="table table-head-fixed text-nowrap">
            <thead>
              <tr>
                <th>Warehouse Name</th>
                <th>Location</th>
                <th>Capacity</th>
              </tr>
            </thead>
            <tbody>
              {% for warehouse in warehouses %}
                <tr>
                  <td>{{ warehouse.name }}</td>
                  <td>{{ warehouse.location }}</td>
                  <td>{{ warehouse.capacity }}</td>
                  <td class="project-actions text-right">
                    <a class="btn btn-primary btn-sm" href="{% url 'warehouse_detail' pk=warehouse.id %}">
                      <i class="fas fa-folder"></i>
                      View
                    </a>
                    <a class="btn btn-info btn-sm" href="{% url 'warehouse_update' pk=warehouse.id %}">
                      <i class="fas fa-pencil-alt"></i>
                      Edit
                    </a>
                    <a class="btn btn-danger btn-sm" href="{% url 'warehouse_delete' pk=warehouse.id %}">
                      <i class="fas fa-trash"></i>
                      Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  <!-- /.row -->
{% endblock %}
