{% extends 'base.html' %}

{% block content %}
  <div class="col-md-6">
    <!-- general form elements -->
    <div class="card card-app">
      <div class="card-header">
        <h3 class="card-title">
          <a class="btn btn-info btn-sm" href="{% url 'warehouse_update' pk=warehouse.id %}">
            <i class="fas fa-pencil-alt"></i>
            Edit
          </a>
          <a class="btn btn-danger btn-sm" href="{% url 'warehouse_delete' pk=warehouse.id %}">
            <i class="fas fa-trash"></i>
            Delete
          </a>
        </h3>
      </div>
      <!-- form start -->
      <div>
        <div class="card-body">
          <div class="form-group">
            <label>Warehouse Name:</label>
            {{ warehouse.name }}
          </div>
          <div class="form-group">
            <label>Location:</label>
            {{ warehouse.location }}
          </div>
          <div class="form-group">
            <label>Capacity:</label>
            {{ warehouse.capacity }}
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
    <!-- /.card -->
  </div>
{% endblock %}
