{% load static %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="{% static 'img/wms-logo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8" />
    <span class="brand-text font-weight-light"><b>WMS</b></span>
  </a>


  {% if user.is_authenticated %}
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="info">
      <span class="brand-text font-weight-light" style="color: white;">Username: {{ user.username }}</span><br>
      <span class="brand-text font-weight-light" style="color: white;">Role: {{ user.role }}</span>
    </div>
  </div>
  {% endif %}

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!--         Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library         -->
        <li class="nav-header">INVENTORY</li>
        <li class="nav-item">
          <a href="{% url 'product_list' %}" class="nav-link">
            <i class="nav-icon far"></i>
            <p>
              Product
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'inventory_list' %}" class="nav-link">
            <i class="nav-icon far"></i>
            <p>Inventory</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'supplier_list' %}" class="nav-link">
            <i class="nav-icon far"></i>
            <p>Supplier</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'category_list' %}" class="nav-link">
            <i class="nav-icon far"></i>
            <p>Category</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'warehouse_list' %}" class="nav-link">
            <i class="nav-icon far"></i>
            <p>Warehouse</p>
          </a>
        <li class="nav-header">ORDERS</li>
        <li class="nav-item">
          <a href="{% url 'order_list' %}" class="nav-link">
            <i class="nav-icon far"></i>
            <p>Order</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'customer_list' %}" class="nav-link">
            <i class="nav-icon far"></i>
            <p>Customer</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
